html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  color: #1b1818;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-family: 'Roboto Condensed', sans-serif;
}

.header {
  background: #332208;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.menu__list {
  display: flex;
}

.menu__item {
  padding: 0 15px;
}

.menu__list-link {
  text-transform: uppercase;
  color: #fefefe;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 5px;
  transition: all 0.5s;
  border-bottom: 2px solid transparent;
}

.menu__list-link:hover {
  border-bottom: 2px solid #fefefe;
}

.phone {
  color: #fefefe;
  font-size: 18px;
  line-height: 21px;
}

.top {
  padding-bottom: 100px;
}

.top__heading {
  display: flex;
  padding: 50px 0 30px;
}

.top__content {
  text-align: center;
  padding-top: 90px;
  width: 50%;
}

.top__title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  margin: 0 auto 20px;
  min-width: 455px;
}

.top__text {
  font-size: 24px;
  line-height: 28px;
  margin: 0 auto 60px;
  min-width: 470px;
}

.application-btn {
  text-transform: uppercase;
  color: #fefefe;
  background: #c5ac2d;
  padding: 16px 19px;
  transition: all 0.5s;
  border: 1 px solid transparent;
}

.application-btn:hover {
  color: #c5ac2d;
  background-color: #fefefe;
  border: 1px solid #c5ac2d;
}

.top__slider {
  max-width: 50%;
}

.top__slider .slick-dots {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.slick-dots {
  list-style: none;
  text-align: center;
}

.slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #332208;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin: 0 auto;
}

.slick-active button {
  width: 16px;
  height: 16px;
}

.top__slider-text {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  padding-right: 100px;
  text-align: right;
}

.top__slider-text span + span {
  padding-left: 12px;
}

.top__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.top__items {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.top__item {
  border: 1px solid #1b1818;
  padding: 10px;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.5s;
}

.top__item:hover {
  transform: scale(1.25);
}

.top__links {
  padding-right: 80px;
}

.top__link {
  color: #1b1818;
  border-bottom: 1px solid #1b1818;
}

.top__link + .top__link {
  margin-left: 20px;
}

.rent {
  padding: 100px auto;
}

.rent__inner {
  display: flex;
  justify-content: space-between;
}

.rent__content {
  width: 300px;
}

.rent__title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
}

.rent__text {
  margin-bottom: 20px;
}
.rent__text + .rent__text {
  margin-bottom: 40px;
}

.rent__item {
  border: 1px solid #332208;
  width: 250px;
  min-height: 330px;
  padding: 0 30px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rent__item-num {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 96px;
  line-height: 115px;
  opacity: 0.05;
}
.rent__item-title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.benefits {
  padding: 100px 0;
}

.benefits__title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 50px;
}

.benefits__items {
  display: flex;
  justify-content: space-between;
}

.benefits__list {
  width: 300px;
  list-style: none;
}

.benefits__list-item {
  margin-bottom: 27px;
  padding-right: 26px;
  position: relative;
  text-align: right;
}

.benefits__list-item::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #332208;
  right: 0;
  top: 3px;
}

.benefits__content {
  width: 300px;
  text-align: right;
}

.benefits__list-item:nth-child(1),
.benefits__list-item:nth-child(7) {
  margin-right: 10px;
}

.benefits__list-item:nth-child(2),
.benefits__list-item:nth-child(6) {
  margin-right: 60px;
}

.benefits__list-item:nth-child(3),
.benefits__list-item:nth-child(5) {
  margin-right: 110px;
}

.benefits__list-item:nth-child(4) {
  margin-right: 160px;
}

.benefits__text {
  margin-bottom: 30px;
  text-align: right;
}

.benefits__text + .benefits__text {
  width: 267px;
  margin-left: auto;
}

.benefits__video-popup {
  background-color: #c5ac2d;
  text-transform: uppercase;
  color: #fefefe;
  text-align: center;
  padding: 6px 34px 6px 64px;
  display: inline-block;
  position: relative;
}

.benefits__video-popup::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url('../images/video-btn.svg');
  top: 12px;
  left: 34px;
}
